# Python
.idea/
__pycache__/
CPSC2025_Dataset/
ECG_AF_CNN/data/test/testdata.*
ECG_AF_CNN/data/train/traindata.*
ECG_AF_CNN/save/
MIT_BIH/data/
Self-Supervised-Learning/data/
Self-Supervised-Learning/save/
.~*.wps

MIT-Learning/data/
MIT-Learning/save/
MIT-Learning/intermediate_results/
MIT-Learning/results/